<header class="page-header">

	<h1 class="page-title">Portfolio</h1>

	<!--
	<ul id="portfolio-items-filter">

		<li>Showing</li>
		<li><a data-categories="*">All</a></li>
		<li><a data-categories="web-design">Web Design</a></li>
		<li><a data-categories="print-design">Print Design</a></li>
		<li><a data-categories="poster-design">Poster Design</a></li>
		<li><a data-categories="information-architecture">Information Architecture</a></li>
		<li><a data-categories="web">Web</a></li>

	</ul> -->
	<!-- end #portfolio-items-filter -->
</header><!-- end .page-header -->

<section id="portfolio-items" class="clearfix">

  {% for post in site.posts %}
		<!-- <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>-->
	<article class="one-third" data-categories="{{post.tags | join:',' | downcase | replace:' ','-' | replace:',',' ' }}">

		<a href="{{ BASE_PATH }}{{ post.url }}" class="project-meta">
			<span class="pf-image">
				<img src="{{post.image}}" alt="">
			</span>
			<h5 class="title">{{ post.title }}</h5>
			<span class="categories"><p>{% assign tags_list = page.tags %}</p></span>
			{% include JB/tags_list %}
		</a>
		
	</article><!-- end .one-third (Altered) -->
  {% endfor %}

</section><!-- end #portfolio-items -->

